@model NewModelCreate

<h2 class="text-center">Create New News</h2>



<hr />

<div class="container">


    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Topic" class="control-label"></label>
            <textarea asp-for="Topic" class="form-control" rows="6" style="resize:none"><</textarea>
            <span asp-validation-for="Topic" class="text-danger"></span>
        </div>
        <div class="form-group custom-file">

            <input asp-for="Image" class="form-control custom-file-input" />
            <label asp-for="Image" class="control-label custom-file-label">Choose----</label>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Cayegory</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />

            <a asp-action="Index" class="btn btn-dark">Back to List</a>


        </div>
    </form>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on('change', function () {
                var fileName = $(this).val().split("\\").pop()
                $(this).next('.custom-file-label').html(fileName)
            })
        })
    </script>
}


